.headerContainer{
  background-color: red;
  color: #fff;
  padding: 20px;
}
.container{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.greencard{
  width: 300px;
  height: 250px;
  background-color: #5e31b9;
  border-radius: 10px;
  padding: 20px;
}

.purpleCard{
  width: 300px;
  height: 250px;
  background-color: #1da958;
  border-radius: 10px;
  padding: 20px;
}

.btn{
  background-color: #04aa6d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}